<div class="reviews">
{% for review in reviews %}
  <div class="review">
    <div class="info">
      <span class="image"><img class="responsive-image lazyload" aria-hidden="true" alt="user thumbnail" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ review.get('profile_photo_url') }}" /></span>
      <span class="date">{{ review.get('relative_time_description') }}</span>
      <span class="name">{{ review.get('author_name') }}</span>
      <span class="rating">
        {% for i in 1..review.get('rating') %}
          <span class="star"></span>
        {% endfor %}
      </span>
    </div>
    <div class="text">
      {{ review.get('text') }}
    </div>
  </div>
{% endfor %}
</div>
{% if url|render %}

<a href="{{ url }}" target="_blank">More Reviews</a>
{% endif %}
